<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.tim.mybatis.mapper.CityMapper">

    <resultMap id="BaseMap" type="cn.tim.mybatis.entity.City">
        <id column="ID" jdbcType="BIGINT" property="id" />
        <result column="NAME" jdbcType="VARCHAR" property="name" />
        <result column="STATE" jdbcType="VARCHAR" property="state" />
        <result column="COUNTRY" jdbcType="VARCHAR" property="country" />
        <result column="status" property="cityStatus" typeHandler="cn.tim.mybatis.handler.CityStatusHandler" />

        <collection property="hotelList" column="{city = id}" ofType="Hotel"
                    select="cn.tim.mybatis.mapper.HotelMapper.selectByCityId" />
    </resultMap>

    <select id="selectCityById" resultMap="BaseMap">
        SELECT * FROM city where id = #{id}
    </select>

    <select id="selectCityByAddress" resultType="City">
        SELECT * FROM city where country=#{country}
    </select>
</mapper>