<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.tim.mybatis.base.mapper.CityMapper">
    <select id="selectUserById" resultType="cn.tim.mybatis.base.entity.User">
        SELECT * FROM USER where id = #{id}
    </select>
</mapper>